name: Build Embedded Snapshots

on:
  push:
    branches: [main]
    paths:
      - "**.swift"
      - "**.yml"
  pull_request:
    branches: [main]
    paths-ignore:
      - "**/README.md"
  workflow_dispatch:

jobs:
  linux:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        swift:
          - version: 6.3-snapshot-2026-01-29
            wasm-sdk-url: https://download.swift.org/swift-6.3-branch/wasm-sdk/swift-6.3-DEVELOPMENT-SNAPSHOT-2026-01-29-a/swift-6.3-DEVELOPMENT-SNAPSHOT-2026-01-29-a_wasm.artifactbundle.tar.gz
            wasm-sdk-checksum: cb56c65518567dcebe5ff5e22c2d9e6a75dca3fc0fdaae0c0b436f69341ff9ee
            wasm_sdk_id: swift-6.3-DEVELOPMENT-SNAPSHOT-2026-01-29-a_wasm-embedded

          - version: main-snapshot-2026-02-06
            wasm-sdk-url: https://download.swift.org/development/wasm-sdk/swift-DEVELOPMENT-SNAPSHOT-2026-02-06-a/swift-DEVELOPMENT-SNAPSHOT-2026-02-06-a_wasm.artifactbundle.tar.gz
            wasm-sdk-checksum: b0d7973e8f8e82b483dade07f0afb6709e512a4844ccb5c5102c9995a50fe105
            wasm_sdk_id: swift-DEVELOPMENT-SNAPSHOT-2026-02-06-a_wasm-embedded

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: vapor/swiftly-action@v0.2
        with:
          toolchain: ${{ matrix.swift.version }}

      - name: Install Swift WASM SDK
        run: swift sdk install ${{ matrix.swift.wasm-sdk-url }} --checksum ${{ matrix.swift.wasm-sdk-checksum }}

      - name: Build
        run: swift build --swift-sdk ${{ matrix.swift.wasm_sdk_id }}
