name: Build Embedded Snapshots

on:
  push:
    branches: [main]
    paths:
      - "**.swift"
      - "**.yml"
  pull_request:
    branches: [main]
    paths-ignore:
      - "**/README.md"
  workflow_dispatch:

jobs:
  linux:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        swift:
          - version: 6.3-snapshot-2026-02-14
            wasm-sdk-url: https://download.swift.org/swift-6.3-branch/wasm-sdk/swift-6.3-DEVELOPMENT-SNAPSHOT-2026-02-14-a/swift-6.3-DEVELOPMENT-SNAPSHOT-2026-02-14-a_wasm.artifactbundle.tar.gz
            wasm-sdk-checksum: e56084b2bfa90dbd3a6c3d11a779a387bae99ba83b985062e2a9ef51da55ce2f
            wasm_sdk_id: swift-6.3-DEVELOPMENT-SNAPSHOT-2026-02-14-a_wasm-embedded

          - version: main-snapshot-2026-02-19
            wasm-sdk-url: https://download.swift.org/development/wasm-sdk/swift-DEVELOPMENT-SNAPSHOT-2026-02-19-a/swift-DEVELOPMENT-SNAPSHOT-2026-02-19-a_wasm.artifactbundle.tar.gz
            wasm-sdk-checksum: 9671979f6a6585b642834993e0c63b6cae084a43dc6103a87a2e8f8929094e08
            wasm_sdk_id: swift-DEVELOPMENT-SNAPSHOT-2026-02-19-a_wasm-embedded

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: vapor/swiftly-action@v0.2
        with:
          toolchain: ${{ matrix.swift.version }}

      - name: Install Swift WASM SDK
        run: swift sdk install ${{ matrix.swift.wasm-sdk-url }} --checksum ${{ matrix.swift.wasm-sdk-checksum }}

      - name: Build
        run: swift build --swift-sdk ${{ matrix.swift.wasm_sdk_id }}
